# Virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc

# Django specific
stockapp/db.sqlite3
stockapp/media/
stockapp/static/

# Ignore environment variables containing API Keys!
stockapp/.env
.env

# Ignore large ML models and generated metrics (Optional, but good practice for GitHub)
stockapp/models/*.h5
stockapp/models/*.pkl
stockapp/models/*.npy
stockapp/models/*.json

# macOS
.DS_Store
